.section_blog {
  padding: 100px 0;
  transform: skewY(-5deg);
  .container {
    transform: skewY(5deg);
    display: flex;
    flex-direction: column;
  }
  .section-title {
    text-align: center;
    padding-bottom: 40px;
    h2 {
      color: var(--dark-color);
    }
  }
  .blog_content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    .blog_item {
      position: relative;
      grid-column: 4 span;
      padding-top: 63%;
      transition: opacity 0.8s ease-out;
      
      &:hover,
      &:focus {
        -webkit-box-shadow: 0px 5px 10px 2px rgba(25, 25, 25, 0.2);
        -moz-box-shadow: 0px 5px 10px 2px rgba(25, 25, 25, 0.2);
        box-shadow: 0px 5px 10px 2px rgba(25, 25, 25, 0.2);
        p {
          opacity: 0;
        }
      }
      &:hover .item-hover,
      &:focus .item-hover {
        opacity: 1;
      }
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      p {
        width: 100%;
        padding: 3% 0;
        position: absolute;
        bottom: 0;
        left: 0;
        color: var(--light-color);
        font-size: 22px;
        text-align: center;
        background-color: rgba(25, 25, 25, 0.4);
      }
      .item-hover {
        opacity: 0;
        padding: 10%;
        width: 100%;
        height: 100%;
        color: var(--light-color);
        display: flex;
        flex-direction: column;
        text-align: center;
        position: absolute;
        background-color: rgba(25, 25, 25, 0.6);
        top: 0;
        left: 0;
        h3 {
          font-size: 24px;
          margin-bottom: 20px;
        }
        span {
          font-size: 18px;
          margin-bottom: auto;
        }
      }
      @include media('<ml') {
        grid-column: 12 span;
      }
    }
  }
}
