<div class="section_blog">
  <div class="container">
    <div class="section-title">
      <h2>
        blog <br />
        <span>newz,tipz & shiz</span>
      </h2>
    </div>
    <div class="blog_content">
      <div class="blog_item">
        <picture>
          <source srcset="img/blog-1.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/blog-1.jpg"
            class="image"
            width=""
            height=""
            alt=""
          />
        </picture>
        <p>Lorem, ipsum dolor.</p>
        <div class="item-hover">
          <a href="">
            <h3>Lorem, ipsum dolor.</h3>
            <span>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia
              voluptatibus sit, quibusdam, rerum rem optio.
            </span>
          </a>
        </div>
      </div>
      <div class="blog_item">
        <picture>
          <source srcset="img/blog-2.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/blog-2.jpg"
            class="image"
            width=""
            height=""
            alt=""
          />
        </picture>
        <p>Lorem, ipsum dolor.</p>
        <div class="item-hover">
          <a href="">
            <h3>Lorem, ipsum dolor.</h3>
            <span>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia
              voluptatibus sit, quibusdam, rerum rem optio.
            </span>
          </a>
        </div>
      </div>
      <div class="blog_item">
        <picture>
          <source srcset="img/blog-3.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/blog-3.jpg"
            class="image"
            width=""
            height=""
            alt=""
          />
        </picture>
        <p>Lorem, ipsum dolor.</p>
        <div class="item-hover">
          <a href="">
            <h3>Lorem, ipsum dolor.</h3>
            <span>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia
              voluptatibus sit, quibusdam, rerum rem optio.
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
