<div class="section_contact_us section-black">
  <div class="container">
      <div class="contact_info">
        <div class="section-title">
          <h2>
            contact us <br />
            <span> drop on in holla! </span>
          </h2>
        </div>
      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti,
        maiores. Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel,
        accusantium?
      </div>
      <div class="adress">
        <img
          loading="lazy"
          src="img/svg/locate.svg"
          class="image"
          width="20"
          height="20"
          alt=""
        />
        <a href="#">3209 Rardin Drive Burlingame California </a>
      </div>
      <div class="time_work">
        <img
          loading="lazy"
          src="img/svg/clock.svg"
          class="image"
          width="20"
          height="20"
          alt=""
        />
        <span>Monday to Friday 11am - 6pm</span>
      </div>
      <a class="tel" type="tel" href="tel:000000000">tel:00000000</a>
    </div>
    <div class="contact_us_image">
        <picture>
          <source srcset="img/contact_us.webp" type="image/webp">
          <img loading="lazy" src="img/contact_us.jpg" class="image" width="" height="" alt="">
        </picture>
    </div>
  </div>
</div>
