<footer class="footer section-black">
  <div class="container">
    <ul class="menu">
      <li class="menu-item logo">
        <a href="#">Tattoo & <br />Tattoo</a>
      </li>
      <li class="menu-item">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, impedit.
        <ul>
          <li><a href="#">Lorem, ipsum dolor.</a></li>
          <li><a href="#">Lorem, ipsum dolor.</a></li>
          <li><a href="#">Lorem, ipsum dolor.</a></li>
        </ul>
      </li>
      <li class="menu-item social">
        <a href="#">F</a>
      </li>
    </ul>
  </div>
</footer>
