<div class="section_gallery section-black">
  <div class="container">
    <div class="section-title">
      <h2>
        gallery <br />
        <span>our latest tattoo</span>
      </h2>
    </div>
    <div class="desc">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad, qui eaque.
      Vel commodi totam esse blanditiis nam cupiditate tempore eveniet. Cum
      perferendis iste ab quis ullam vel expedita est! Odio, beatae totam optio
      consequuntur tenetur expedita asperiores aspernatur reiciendis? Eveniet
      minima magnam ex beatae itaque error adipisci expedita fugiat est!
    </div>
    <div class="gallery_content">
      <div class="gallery_item">
        <a
          href="img/gallery-1.png"
          data-fancybox="gallery"
          data-media="(max-width: 799px);(min-width: 800px)"
          data-sources="img/gallery-1.png"
        >
        <picture>
          <source srcset="img/gallery-1.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/gallery-1.png"
              class="image"
              width=""
              height=""
              alt=""
            />
          </picture>
        </a>
      </div>
      <div class="gallery_item">
        <a
          href="img/gallery-2.jpeg"
          data-fancybox="gallery"
          data-media="(max-width: 799px);(min-width: 800px)"
          data-sources="img/gallery-2.jpeg"
        >
        <picture>
          <source srcset="img/gallery-2.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/gallery-2.jpeg"
              class="image"
              width=""
              height=""
              alt=""
            />
          </picture>
        </a>
      </div>
      <div class="gallery_item">
        <a
          href="img/gallery-3.jpeg"
          data-fancybox="gallery"
          data-media="(max-width: 799px);(min-width: 800px)"
          data-sources="img/gallery-3.jpeg"
        >
        <picture>
          <source srcset="img/gallery-3.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/gallery-3.jpeg"
              class="image"
              width=""
              height=""
              alt=""
            />
          </picture>
        </a>
      </div>
      <div class="gallery_item">
        <a
          href="img/gallery-4.jpeg"
          data-fancybox="gallery"
          data-media="(max-width: 799px);(min-width: 800px)"
          data-sources="img/gallery-4.jpeg"
        >
        <picture>
          <source srcset="img/gallery-4.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/gallery-4.jpeg"
              class="image"
              width=""
              height=""
              alt=""
            />
          </picture>
        </a>
      </div>
      <div class="gallery_item">
        <a
          href="img/gallery-5.jpeg"
          data-fancybox="gallery"
          data-media="(max-width: 799px);(min-width: 800px)"
          data-sources="img/gallery-5.jpeg"
        >
        <picture>
          <source srcset="img/gallery-5.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/gallery-5.jpeg"
              class="image"
              width=""
              height=""
              alt=""
            />
          </picture>
        </a>
      </div>
      <div class="gallery_item">
        <a
          href="img/gallery-6.jpeg"
          data-fancybox="gallery"
          data-media="(max-width: 799px);(min-width: 800px)"
          data-sources="img/gallery-6.jpeg"
        >
        <picture>
          <source srcset="img/gallery-6.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/gallery-6.jpeg"
              class="image"
              width=""
              height=""
              alt=""
            />
          </picture>
        </a>
      </div>
      <div class="gallery_item">
        <a
          href="img/gallery-7.jpeg"
          data-fancybox="gallery"
          data-media="(max-width: 799px);(min-width: 800px)"
          data-sources="img/gallery-7.jpeg"
        >
        <picture>
          <source srcset="img/gallery-7.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/gallery-7.jpeg"
              class="image"
              width=""
              height=""
              alt=""
            />
          </picture>
        </a>
      </div>
      <div class="gallery_item">
        <a
          href="img/gallery-8.jpeg"
          data-fancybox="gallery"
          data-media="(max-width: 799px);(min-width: 800px)"
          data-sources="img/gallery-8.jpeg"
        >
        <picture>
          <source srcset="img/gallery-8.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/gallery-8.jpeg"
              class="image"
              width=""
              height=""
              alt=""
            />
          </picture>
        </a>
      </div>
    </div>
  </div>
</div>
