<div class="section_welcome section-black">
  <div class="container">
    <div class="left">
      <div class="section-title">
        <h2>
          welcome <br />
          <span> tatoo studio </span>
        </h2>
      </div>
      <div class="desc">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae
        assumenda sed facere saepe, <a href="#">maiores maxime explicabo</a>,
        quidem nulla cumque aliquid iure itaque, iste quis ex architecto officia
        sint porro dicta.
      </div>
    </div>
    <div class="right">
      <div class="section-title">
        <h2>we’re open</h2>
      </div>
      <div class="desc">
        <picture>
          <source srcset="img/desc.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/desc.jpeg"
            class="image"
            width=""
            height=""
            alt=""
          />
        </picture>
        <div class="contact_info">
          <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti,
            maiores. Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Vel, accusantium?
          </div>
          <div class="adress">
            <img
              loading="lazy"
              src="img/svg/locate.svg"
              class="image"
              width="20"
              height="20"
              alt=""
            />
            <a href="#">3209 Rardin Drive Burlingame California </a>
          </div>
          <div class="time_work">
            <img
              loading="lazy"
              src="img/svg/clock.svg"
              class="image"
              width="20"
              height="20"
              alt=""
            />
            <span>Monday to Friday 11am - 6pm</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
